<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gakusei Data Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--<p th:text="${message}" />-->
<!--<p th:text="'Testing: ' + ${clazz} + ', ' + ${method} + '!'" />-->
<!--<p th:text="'Enter for: ' + ${word} + '  (' + ${reading} + ' - ' + ${svenska} + ') !'" />-->
<form th:action="doaddlesson">
    <input th:name="id" type="text"/>
    <input th:name="name" type="text"/>
    <input th:name="description" type="text"/>
    <input type="submit"/>
</form>

<a href="/">Hem</a>
<!--<a th:href="${link}">Hjälp</a>-->
</body>
</html>